* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}