* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-1: #fff;
    --color-2: #323643;
    --color-3: #E45447;
    --color-4: #8DA9CE;
    --color-5: #52687D;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}